[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "igraphinshiny"]
	path = igraphinshiny
	url = https://github.com/mingjerli/igraphinshiny
	shallow = true
	registered = true
